{%extends 'product/base.html'%}
 
{%block content%}

		<div class="container">
			<center>
				<table style="width: 100%;">
					<tr>
						<th>Cutomer ID</th>
						<th>Tax ID</th>
						<th>Company</th>
						<th>Department</th>
						<th>Customer Adress</th>
						<th>Customer Type</th>
					</tr>
					{% for cs in customer_id %}
					<tr>
						<td>{{cs.customer_id}}</td>
						<td>{{cs.tax_id}}</td>
						<td>{{cs.company}}</td>
						<td>{{cs.department}}</td>
						<td>{{cs.customer_address}}</td>
						<td>{{cs.customer_type}}</td>
					</tr>
					{% endfor %}

				</table>
			</center>

		</div>

	 
	
</div>
  <footer class="my-5 pt-5 text-muted text-center text-small">
	<p class="mb-1">&copy; 2019-2020 C2Trading Group</p>
{%endblock%}