<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'Doc-page' %}">C2Support</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand" href="{% url 'Doc2-page' %}">2 products</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand" href="{% url 'AddCustomer-page' %}">new cutomer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <a class="navbar-brand" href="{% url 'ShowCustomer-page' %}">Cutomer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        </button>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<div class="container">
    <center>
        <table style="width: 100%;">
            <tr>
            	<th>Cutomer ID</th>
            	<th>Tax ID</th>
            	<th>Company</th>
            	<th>Department</th>
            	<th>Customer Adress</th>
            	<th>Customer Type</th>
            </tr>
            {%for cs in customer%}
            <tr>
            	<td>{{cs.customer_id}}</td>
            	<td>{{cs.tax_id}}</td>
            	<td>{{cs.company}</td>
            	<td>{{cs.department}</td>
            	<td>{{cs.customer_address}</td>
            	<td>{{cs.customer_type}</td>
            </tr>
            {%endfor%}

        </table>
    </center>

</div>