{%extends 'product/base.html'%}
 
{%block content%}
	<!-- <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
  
<div class="container"> 
		<form action="ExportTax3" method="post" enctype="multipart/form-data">
		  {%csrf_token%}
		  <div class="row">
			<div class="col-md-10 mb-5">
			  <label for="firm">บริษัท</label>
			  <input type="text" name ="firmname" class="form-control" id="firmname" placeholder="ชื่อบริษัท">
			  <div class="invalid-feedback">
			  </div>
			</div>
		  </div>
		
		  <div class="mb-3">
			<label for="address">ที่อยู่</label>
			<input type="text" name ="address" class="form-control" id="address" placeholder="เลขที่" >
		  </div> 
		  <div class="mb-3">
			<label for="address2">ที่อยู่<span class="text-muted"></span></label>
			<input type="text" name ="address2" class="form-control" id="address2" placeholder="ที่อยู่เขต/ตำบล แขวง/อำเภอ">
		  </div>

			  <div class="row">
				<div class="col-md-10 mb-3">
				  <label for="state">จังหวัด</label>
				  <select class="custom-select d-block w-100" id="state" name="province" >
					<option value="">Choose...</option>
					<option>	กระบี่	</option>
					<option>	กรุงเทพมหานคร	</option>
					<option>	กาญจนบุรี	</option>
					<option>	กาฬสินธุ์	</option>
					<option>	กำแพงเพชร	</option>
					<option>	ขอนแก่น	</option>
					<option>	จันทบุรี	</option>
					<option>	ฉะเชิงเทรา	</option>
					<option>	ชลบุรี	</option>
					<option>	ชัยนาท	</option>
					<option>	ชัยภูมิ	</option>
					<option>	ชุมพร	</option>
					<option>	เชียงราย	</option>
					<option>	เชียงใหม่	</option>
					<option>	ตรัง	</option>
					<option>	ตราด	</option>
					<option>	ตาก	</option>
					<option>	นครนายก	</option>
					<option>	นครปฐม	</option>
					<option>	นครพนม	</option>
					<option>	นครราชสีมา	</option>
					<option>	นครศรีธรรมราช	</option>
					<option>	นครสวรรค์	</option>
					<option>	นนทบุรี	</option>
					<option>	นราธิวาส	</option>
					<option>	น่าน	</option>
					<option>	บุรีรัมย์	</option>
					<option>	ปทุมธานี	</option>
					<option>	ประจวบคีรีขันธ์	</option>
					<option>	ปราจีนบุรี	</option>
					<option>	ปัตตานี	</option>
					<option>	พระนครศรีอยุธยา	</option>
					<option>	พะเยา	</option>
					<option>	พังงา	</option>
					<option>	พัทลุง	</option>
					<option>	พิจิตร	</option>
					<option>	พิษณุโลก	</option>
					<option>	เพชรบุรี	</option>
					<option>	เพชรบูรณ์	</option>
					<option>	แพร่	</option>
					<option>	ภูเก็ต	</option>
					<option>	มหาสารคาม	</option>
					<option>	มุกดาหาร	</option>
					<option>	แม่ฮ่องสอน	</option>
					<option>	ยโสธร	</option>
					<option>	ยะลา	</option>
					<option>	ร้อยเอ็ด	</option>
					<option>	ระนอง	</option>
					<option>	ระยอง	</option>
					<option>	ราชบุรี	</option>
					<option>	ลพบุรี	</option>
					<option>	เลย	</option>
					<option>	ลำปาง	</option>
					<option>	ลำพูน	</option>
					<option>	ศีรสะเกษ	</option>
					<option>	สกลนคร	</option>
					<option>	สงขลา	</option>
					<option>	สตูล	</option>
					<option>	สมุทรปราการ	</option>
					<option>	สมุทรสงคราม	</option>
					<option>	สมุทรสาคร	</option>
					<option>	สระแก้ว	</option>
					<option>	สระบุรี	</option>
					<option>	สิงห์บุรี	</option>
					<option>	สุโขทัย	</option>
					<option>	สุพรรณบุรี	</option>
					<option>	สุราษฎร์ธานี	</option>
					<option>	สุรินทร์	</option>
					<option>	หนองคาย	</option>
					<option>	หนองบัวลำภู	</option>
					<option>	อ่างทอง	</option>
					<option>	อำนาจเจริญ	</option>
					<option>	อุดรธานี	</option>
					<option>	อุตรดิตถ์	</option>
					<option>	อุทัยธานี	</option>
					<option>	อุบลราชธานี	</option>
				  </select>
				  <div class="invalid-feedback">
					กรุณาเลือกจังหวัด
				  </div>
				</div>
				<div class="col-md-5 mb-3">
				  <label for="zip">รหัสไปรษณีย์</label>
				  <input type="text" class="form-control" id="zipcode" placeholder="" name="zipcode">
				  <div class="invalid-feedback">
					Zip code required.
				  </div>
				</div>
			  </div>

			  <div class="mb-3">
				<label for="tax">เลขที่เสียภาษี<span class="text-muted"></span></label>
				<input type="number" name ="tax" class="form-control" id="tax" placeholder="เลขที่เสียภาษี">
			  </div>

			  <div class="mb-3">
				<label for="tel1">เบอร์ลูกค้า<span class="text-muted"></span></label>
				<input type="number" name ="tel1" class="form-control" id="tel1" placeholder="เบอร์โทรศัพท์">
			  </div>
			  	
				    <label for="img1">Select image1:</label>
				    <input type="file" id="img1" name="img1" accept="image/*" value="Upload">

				    <label for="img1">Select image2:</label>
				    <input type="file" id="img2" name="img2" accept="image/*" value="Upload">

				    <label for="img1">Select image3:</label>
				    <input type="file" id="img3" name="img3" accept="image/*" value="Upload"2>
				
			  <div class="mb-3">
				<label for="product">รายละเอียดสินค้า<span class="text-muted"></span></label>
				<input type="text" class="form-control" id="product" placeholder="รายละเอียดสินค้า" name="nameProduct">
			  </div>
			  <div class="mb-3">
				  <label for="amount">จำนวน<span class="text-muted"></span></label>
				  <input type="number" class="form-control" id="amount" placeholder="จำนวน" name="amount">
			  </div>

			  <div class="mb-3">
				  <label for="price2">ราคา <span class="text-muted"></span></label>
				  <input type="number" class="form-control" id="price1" placeholder="ราคา" name="price">
			  </div>

				<hr class="mb-4">
				<button class="btn btn-primary btn-lg btn-block" type="submit">Submit Tax</button>
			</form>  
		</div>
	  </div>
</div>
{%endblock%}

